# fastapi
# uvicorn
# cloudinary
# python-dotenv
# sqlalchemy
# psycopg2-binary
# python-multipart
# requests
# opencv-python
# numpy
# torch
# torchvision
# paddlepaddle
# paddleocr
# sentence-transformers


fastapi
uvicorn[standard]
cloudinary
python-dotenv
sqlalchemy
psycopg2-binary
python-multipart
requests

numpy
opencv-python-headless

torch
torchvision

paddlepaddle
paddleocr

sentence-transformers

groq